# Arquivos de desenvolvimento
.git
.gitignore
.env
.env.*
!.env.example
.editorconfig
.eslintrc
.prettierrc
README.md
CHANGELOG.md
LICENSE
*.log

# Diretórios
node_modules/
dist/
coverage/
test/
docs/
.github/
.vscode/
.idea/

# Arquivos de teste
*.spec.ts
*.test.ts
jest.config.js

# Outros
.DS_Store
*.swp
*.swo
*~ 